.class-list {
  a:hover {
    border-color: $secondary !important;
  }
}

.teacher-info {
  img {
    height: 100px;
    width: 100px;
  }
}

.linear-gradient {
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(104deg, #09acf5, #62db54);
  &:hover {
    opacity: 0.6;
  }
}
