<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3">
      <div class="container align-items-center">



        <a
          class="navbar-brand d-inline-block"
          href="#"
  
        ></a>

<!-- sm以上的樣式 -->

          <ul class="list-unstyled mb-0 d-none d-sm-flex">
            <li class="me-5"> <a href="index.html" class="fs-7 text-decoration-none link-text">首頁</a></li>
            <li class="me-5"> <a href="index.html" class="fs-7 text-decoration-none link-text">課程介紹</a></li>
            <li> <a href="index.html" class="fs-7 text-decoration-none link-text"><span class="me-1 align-top material-icons">
              account_circle
              </span>登入</a></li>
          </ul>
        
<!-- sm以下的樣式 漢堡選單 -->


            <a href="#" class="ham-icon">
              <span class="align-middle material-icons">
                drag_handle
                </span>
            </a>
          
            <ul class="list-unstyled dropdown">
              <li><a class="py-6" href="#">首頁</a></li>
              <li><a class="py-6" href="#">課程介紹</a></li>
              <li><a class="py-6" href="#"><span class="me-1 align-top material-icons">
                account_circle
                </span>登入</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- 雙色border -->
    <div class="d-flex">
    <div class="navbar-border-green"></div>
    <div class="navbar-border-blue"></div>
  </div>
    <%- contents %>

    <footer class="footer text-center text-light bg-dark ">
      <div class="py-3 py-md-4">
        <p class=" mb-0 fs-8 fs-md-6">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
